* {
    margin: 0;
    padding: 0;
}

#titulo {
    font-family: sans-serif;
    color: rgba(115,193,74,255);
    margin-left: 10%;
}

#subtitulo {
    font-family: sans-serif;
    color: rgba(247,247,247,255);
    margin-left: 10%;
}

#check {
    display: inline-block;
}

fieldset {
    border: 0;
}

body{
    background-color: rgba(0,51,102,255);
    font-family: sans-serif;
    font-size: 1em;
    color: rgba(247,247,247,255);
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 2%;
    justify-content: center;
}

input, select, textarea, button {
    font-family: sans-serif;
    font-size: 1em;
    color: black;
    border-radius: 5px
}

.grupo:before, .grupo:after {
    display: table;
}

grupo:after {
    clear: both;
}

.campo {
    margin-bottom: 1em;
}

.campo label{
    margin-bottom: 0.2em;
    color: rgba(247,247,247,255);
    display: block;
}

fieldset.grupo .campo{
    float: left;
    margin-right: 1em;
}

.campo input[type="text"], .campo input[type="email"], .campo select, .campo textarea {
    padding: 0.2em;
    border: 1px solid #003366;
    box-shadow: 2px 2px 2px #003366;
    display: block;
}

.campo select option {
    padding-right: 2em;
}

.botao {
    font-size: 1.2em;
    background: rgba(247,247,247,255);
    border: 1;
    margin-bottom: 1em;
    padding: 0.2em 0.6em;
    box-shadow: 2px 2px 2px rgba(0,0,0,0.2);
    position: absolute;
    top: 100%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%)
}

.botao, select{
    cursor: pointer;
}

#check {
    display:inline-block;
}







